
.contain-layout { container-type: inline-size; } 
.contain-paint { container-type: paint; } 
.text-shadow-pink { text-shadow: 0 0 10px #ff5cf4; }
.hover\:text-shadow-pink:hover { text-shadow: 0 0 10px #ff5cf4; }




@font-face {
    font-family: "title";
    src: url("../assets/fonts/CinzelDecorative-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.apply-custom-title-font {
    font-family: "title", sans-serif;
}
